/* Step 1 - Add a nice background */
body {
    background-color: #0099bf;
}

/* Step 2 - Add a nice card style */
.card {
    border:solid 2px black;
    width: 80px;
    height: 100px;
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #fff;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 8px;
    margin: 10px;
    
}
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Step 3 - Add a nice hover effect */
.card:hover {
    border: solid 3px rgb(0, 68, 255);
    transform: scale(1.5);
    transition: 0.3s;
    background-color: #fff;
}

.card:active{
    color: black;
}

/* Step 4 (+4 points) - Write a style for a flipped card */
.card.flipped {
    opacity: 0;
    transition : 0.5s;
}

/* Step 5 - Add a nice style to the message element */
#message {
    text-align: center;
    font-size:5em;
    color: #fff;
    font-weight: bold;
}

/* Step 6 - Add 5 more style changes... */
/* 1) */
#score{
    font-size:2em;
    text-align: center;
    color: #eee;
}
/* 2) */
button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    display: inline-block;
    padding: 20px 38px;
    top: 0;
    font-size: 30px;
    font-family: "Open Sans", Helvetica;
    border-radius: 4px;
    border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
    background: rgba( 22, 230, 137, 1 );
    color: #fff;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
    /* 3) */
  button:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
  }
  /* 4) */
  button:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
    background: rgba( 20, 224, 133, 1 );
  }
/* 5) */
#message:after{
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 50%; 
    width: 0; 
    height: 0; 
    border: 23px solid transparent; 
    border-bottom-color: #03b886; 
    border-top: 0; 
    margin-left: -23px; 
    margin-top: -23px; 
}
